extends layout

block content
  h1= title
  p Welcome to uStatusBlog!

  - if (typeof(username) !== 'undefined')
    p You are logged in as #{username}.
    form(method="post", action="/users/status")
      label(for='status') Update Status: &nbsp;
      input(type='text',name='status',id='status')
      input(type='submit',name='submit',value='Submit').submit-button
  - else
    form(method="post", action="/users/login")
      label(for='username') Username: &nbsp;
      input(type='text',name='username',id='username')
      br
      label(for='password') Password: &nbsp;
      input(type='password',name='password',id='password')
      br
      input(type='submit',name='submit',value='Submit').submit-button
 
  if msg
    p.error #{msg}

  h2 Current user status blogs:

  if users
    ul
    each user in users
      li(id="#{user}" class="username")
        b #{user}

  script(src="/javascripts/main.js")

